<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-form-builder</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>        
  </head>
  <body>
    <div id="app">
        {{message}}
        <form-builder></form-builder>
    </div>        
    <!-- built files will be auto injected -->
  </body>


<script type="text/javascript">

</script>  
</html>
