<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left form-inline row d-flex flex-row flex-wrap alert bg-info text-light" role="alert">
                <label class="form-label" for="attributes.id.value">{{label ? label : 'Label'}}</label>
            </div>
            
            <div class="col-sm-12">
                <formGroup v-model="form_list"></formGroup>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
<hr />
            <div class="row">
                <div class="col-md-12 mb-3 text-left">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase'

export default {
    extends: FormElementBase,    
    name: 'FormElementSection',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this section.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this section",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this section should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },                
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden section.",
                    invalid_message: null,
                    value: null
                },                
                "repeater": {
                    name: "repeater",
                    type: "checkbox",
                    description: "Check if this section should allow for section to be entered any number of times.  Used to replace lists of input on a form.  i.e. List Classes Taken.",
                    invalid_message: null,
                    value: null
                }, 
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'section'
                }
            },
            form_list: [],
        }
    },
    methods: {
        emitElement: function(){ 
            var omit_keys = ['description', 'type'];
            this.$emit('element_json', {
                options: this.options,
                label: this.label,
                id: this.element_json.id,
                attributes: _.mapValues(this.attributes, function(attribute, key){
                    var test =  _.omit(attribute, omit_keys)
                    return test;
                }),
                form_list: this.form_list
            });
        },
        initElement(){
            this.attributes = this.mergeAttributes();
            this.label = this.element_json.label;
            this.options = _.isUndefined(this.element_json.options) ? [] : this.element_json.options;
            this.form_list = this.element_json.form_list;
        },
    },
    watch: {
        form_list: {
            handler(new_va){
                this.$nextTick(function(){
                    this.emitElement();    
                });
            }
        }
    }
}
</script>