<template>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left form-inline row d-flex flex-row flex-wrap alert bg-info text-light" role="alert">
                <label class="form-label" for="attributes.id.value">{{label ? label : 'Label'}}</label>
                <div class="col-sm-6">
                    <input 
                        v-bind:type="attributes.type.value" 
                        v-bind:class="[{isNotFile: 'form-control'}, attributes.class.value]" 
                        v-bind:id="attributes.id.value" 
                        v-bind:name="attributes.name.value" 
                        v-bind:value="attributes.value.value" 
                        v-bind:placeholder="attributes.placeholder.value" 
                        v-bind:min="attributes.min.value" 
                        v-bind:max="attributes.max.value" 
                        v-bind:step="attributes.step.value">
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row">
                <div class="col-md-12 mb-3 text-left">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" value="" required>
                </div>
            </div><!-- END ROW -->
            <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>
            <!-- END ROW -->
        </div>
    </div>
</template>
<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementNumber',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this input.",
                    invalid_message: null,
                    value: null
                },                
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this input",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this input should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },                
                "value": {
                    name: "value",
                    type: "number",
                    description: "Default Value for this input.",
                    invalid_message: null,
                    value: null
                },
                "placeholder": {
                    name: "placeholder",
                    type: "input",
                    description: "Placeholder text for this input.",
                    invalid_message: null,
                    value: ""
                },
                "min": {
                    name: "min",
                    type: "number",
                    description: "Minimum value allowed.",
                    invalid_message: null,
                    value: ""
                },
                "max": {
                    name: "max",
                    type: "number",
                    description: "Maximum value allowed.",
                    invalid_message: null,
                    value: ""
                },
                "step": {
                    name: "step",
                    type: "number",
                    description: "Step between each number.",
                    invalid_message: null,
                    value: ""
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this input is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden input.",
                    invalid_message: null,
                    value: null
                },                
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'number'
                }
            },
            label: null
        }
    }
}
</script>
