<template>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 row d-flex flex-row flex-wrap alert bg-info text-light" v-bind:class="attributes.class.value" role="alert">
                <p v-bind:class="attributes.class.value + ' ' + attributes.size.value" v-bind:id="attributes.id.value" v-bind:name="attributes.name.value">{{header ? header : 'Header'}}</p>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row">
                <div class="col-md-12 mb-3 text-left">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Header:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="attributes.value.value" placeholder="" value="" required>
                </div>
            </div> <!-- END ROW -->
           <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>                                 
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementHeader',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },                
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: ''
                },                
                "value": {
                    name: "value",
                    type: "hidden",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "required": {
                    name: "required",
                    type: "hidden",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "hidden",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'header'
                },               
                "size": {
                    name: "size",
                    type: "select",
                    description: "Size of header.",
                    invalid_message: null,
                    value: "h1",
                    options: ["h1", "h2", "h3"]
                }
            }            
        }
    },
    computed: {
        header: function(){
            return this.attributes.value.value;
        }
    }
}
</script>

<style scoped>
    .h1, .h2, .h3{
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>