<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left alert bg-info text-light" role="alert">
                <label class="control-label">{{label ? label : 'Label'}}</label>                    
                <div class="row justify-content-center" v-for="option in options">
                    <div class="col-md-12 text-left">
                        <div class="custom-control custom-radio" v-bind:class="attributes.class.value" v-bind:id="attributes.id.value" v-bind:name="attributes.name.value">
                            <input type="radio" class="custom-control-input" v-bind:value="option.value"> <label class="custom-control-label" >{{option.text}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row mb-1 mt-5">
                <div class="col-md-12 mb-5">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" value="" required>
                </div>
                <div class="col-sm-12">
                   <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Options:</span>
                    </h5>
                    <div class="alert alert-warning" role="alert" v-if="options.length < 1">
                        You don't have any options yet, please add some!
                    </div>                        
                    <div class="option" v-for="(option, index) in options">
                        <div class="input-group mb-3">
                             <div class="option-controls">
                                <i class="fa fa-trash" @click="removeOption(index)" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Option" aria-label="Option" v-model="option.text">
                            <input type="text" class="form-control" placeholder="Value" aria-label="Value" v-model="option.value">
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-primary btn-sm" @click="addNewOption">Add Option<i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>  <!-- END ROW -->
           <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div> 
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementRadio',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },                
                "value": {
                    name: "value",
                    type: "input",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },                
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'radio'
                }
            }
        }
    }
}
</script>