<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left alert bg-info text-light" role="alert">
                <div v-if="attributes.multiple.value">
                    <label class="" >{{label ? label : 'Label'}}</label>
                    <div class="row justify-content-center" v-for="option in options">
                        <div class="col-sm-12 text-left">
                            <div class="custom-control custom-checkbox" v-bind:class="attributes.class.value" v-bind:id="attributes.id.value" v-bind:name="attributes.name.value">
                                <input type="checkbox" class="custom-control-input" name="test" v-bind:value="option.value">
                                <label class="custom-control-label" >{{option.text}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="test">
                        <label class="custom-control-label" >{{label ? label : 'Label'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">   
            <hr/>
            <div class="row mb-1 mt-5">
                <div class="col-md-12 mb-5">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                
                    <input type="text" class="form-control" v-model="label" placeholder="" value="" required>
                </div>                        
                <div class="col-md-12" v-if="attributes.multiple.value">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Options:</span>
                    </h5>
                    <div class="alert alert-warning" role="alert" v-if="options.length < 1">
                        You don't have any options yet, please add some!
                    </div>
                    <div class="option" v-for="(option, index) in options">
                        <div class="input-group mb-3">
                            <div class="option-controls">
                                <i class="fa fa-trash" @click="removeOption(index)" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Option" aria-label="Option" v-model="option.text">
                            <input type="text" class="form-control" placeholder="Value" aria-label="Value" v-model="option.value">                                    
                        </div>                                  
                    </div>
                </div>                   
                <div class="col-sm-12 text-right" v-if="attributes.multiple.value">
                    <button type="button" class="btn btn-primary btn-sm" @click="addNewOption">Add Option<i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>                          
            </div><!-- END ROW -->
        
            <div class="row">
                <div class="col-md-12">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Attributes:</span>
                    </h5>
                    <ul class="list-group mb-3 d-flex flex-row flex-wrap">
                        <li v-for="(attribute, id) in attributes" class="list-group-item col-sm-4 text-left" v-show ="attribute.type != 'hidden'">
                            
                            <template v-if="attribute.type == 'input'">
                                <label :for="rand_id + '-' + attribute.name">{{attribute.name}}</label>
                                <input type="text" class="form-control" v-model="attribute.value" v-bind:id="rand_id + '-' + attribute.name" placeholder="" required="">
                                <small class="text-muted">{{attribute.description}}</small>
                                <div class="invalid-feedback">
                                    {{attribute.invalid_message}}
                                </div>
                            </template>
                            <template v-else-if="attribute.type == 'checkbox'">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="attribute.value" v-bind:id="rand_id + '-' + attribute.name + '-' + id">
                                    <label class="custom-control-label" v-bind:for="rand_id + '-' + attribute.name + '-' + id">{{attribute.name}} </label>
                                    <br/>
                                    <small class="text-muted">{{attribute.description}}</small>
                                </div>
                            </template>                               
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END ROW -->
        </div>
    </div>

</template>

<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementCheckbox',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },                
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },
                "value": {
                    name: "value",
                    type: "input",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "multiple": {
                    name: "multiple",
                    type: "checkbox",
                    description: "Check if there are more than one select options for this element",
                    invalid_message: null,
                    value: false
                },                
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },                
                "checked": {
                    name: "checked",
                    type: "checkbox",
                    description: "Check if this should be checked by default (for single checkbox).",
                    invalid_message: null,
                    value: null
                },                
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'checkbox'
                }
            }
        }
    }
}
</script>
