<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left alert bg-info text-light" role="alert">
                <div v-html="attributes.value.value" 
                v-bind:class="attributes.class.value" 
                v-bind:id="attributes.id.value" 
                v-bind:name="attributes.name.value"></div>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row mb-1 mt-5">
                <div class="col-md-12 mb-5">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">HTML:</span>
                    </h5>
                    <wysiwyg class="wysiwyg" v-model="attributes.value.value" rows="3"/>
                </div>
            </div> <!-- END ROW -->

           <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>             
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementHtml',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },                
                "value": {
                    name: "value",
                    type: "hidden",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },                
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'html'
                }
            }
        };
    }
}
</script>