<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left alert bg-info text-light" role="alert">
                <label class="control-label">{{label ? label : 'Label'}}</label>      
                <textarea 
                        v-bind:class="['form-control', attributes.class.value]" 
                        v-bind:id="attributes.id.value" 
                        v-bind:name="attributes.name.value" 
                        v-bind:value="attributes.value.value" 
                        v-bind:placeholder="attributes.placeholder.value"></textarea>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row mb-1 mt-5">
                <div class="col-md-12 mb-5">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" value="" required>
                </div>
            </div> <!-- END ROW -->
            <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';

export default {
    extends: FormElementBase,
    name: 'FormElementTextarea',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Separate by a space",
                    invalid_message: null,
                    value: null
                },                
                "value": {
                    name: "value",
                    type: "input",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "placeholder": {
                    name: "placeholder",
                    type: "input",
                    description: "Placeholder text for this textarea.",
                    invalid_message: null,
                    value: ""
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },                
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'textarea'
                }
            }
        }
    }
}
</script>