<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left alert bg-info text-light" role="alert">
                <label class="control-label">{{label ? label : 'Label'}}</label>      
                <tinymce 
                        v-bind:id="attributes.id.value || ('default-tinymce-id-' + id)" ></tinymce>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="edit">
            <hr />
            <div class="row mb-1 mt-5">
                <div class="col-md-12 mb-5">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" value="" required>
                </div>
            </div> <!-- END ROW -->

           <div class="row">
                <div class="col-md-12">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Attributes:</span>
                    </h5>
                    <ul class="list-group mb-3 d-flex flex-row flex-wrap">
                        <li v-for="attribute in attributes" class="list-group-item col-sm-4 text-left" v-show ="attribute.type != 'hidden'">
                            <template v-if="attribute.type == 'input'">
                                <div class="form-group">
                                    <label v-bind:for="rand_id + '-' + attribute.name" class="">{{attribute.name}}</label>
                                    <div class="">
                                       <input type="text" class="form-control" v-model="attribute.value" v-bind:id="rand_id + '-' +attribute.name" placeholder="" required="">
                                        <small class="text-muted">{{attribute.description}}</small>
                                        <div class="invalid-feedback">
                                            {{attribute.invalid_message}}
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-else-if="attribute.type == 'checkbox'">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="attribute.value" v-bind:id="rand_id + '-' +attribute.name">
                                    <label class="custom-control-label" v-bind:for="rand_id + '-' + attribute.name">{{attribute.name}} </label>
                                    <br/>
                                    <small class="text-muted">{{attribute.description}}</small>
                                </div>
                            </template>
                        </li>
                    </ul>
                </div>
            </div>     
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';

export default {
    extends: FormElementBase,
    name: 'FormElementTinymce',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Separate by a space",
                    invalid_message: null,
                    value: null
                },                
                "value": {
                    name: "value",
                    type: "input",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "placeholder": {
                    name: "placeholder",
                    type: "input",
                    description: "Placeholder text for this textarea.",
                    invalid_message: null,
                    value: ""
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },                
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'tinymce'
                }
            },
            label: null
        }
    }
}
</script>