<template>
 <div class="container-fluid">

    <component v-if="component_exists" :is="form_component" v-on:element_json="propagateElementJson" :element_json="element_json" ></component>
    
    <div v-else>
        <div class="alert alert-danger" role="alert">
          Ooops, we don't have this form type....
        </div>
    </div>    
</div>
</template>

<script>
//FORM ELEMENTS
import formElementSelect from './FormElementSelect'
import formElementInput from './FormElementInput'
import formElementRadio from './FormElementRadio'
import formElementCheckbox from './FormElementCheckbox'
import formElementHeader from './FormElementHeader'
import formElementParagraph from './FormElementParagraph'
import formElementWysiwyg from './FormElementWysiwyg'
import formElementTinymce from './FormElementTinymce'
import formElementTextarea from './FormElementTextarea'
import formElementNumber from './FormElementNumber'
import formElementDate from './FormElementDate'
import formElementButton from './FormElementButton'
import formElementFile from './FormElementFile'
import formElementImage from './FormElementImage'
import formElementHtml from './FormElementHtml'
import formElementAutocomplete from './FormElementAutocomplete'
import formElementColumnizedList from './FormElementColumnizedList'

//LAYOUT STRUCTURE ELEMENTS
import formElementSection from './FormElementSection'

export default {
  name: 'FormElementEditor',
  components: {
    formElementSelect,
    formElementInput,
    formElementRadio,
    formElementCheckbox,
    formElementHeader,
    formElementParagraph,
    formElementWysiwyg,
    formElementTinymce,
    formElementTextarea,
    formElementNumber,
    formElementDate,
    formElementButton,
    formElementFile,
    formElementImage,
    formElementHtml,
    formElementAutocomplete,
    formElementSection,
    formElementColumnizedList
  },
  data () {
    return {
        form_types: {
            'select': formElementSelect,
            'input': formElementInput,
            'text': formElementInput,
            'radio': formElementRadio,
            'checkbox': formElementCheckbox,
            'header': formElementHeader,
            'paragraph': formElementParagraph,
            'textarea': formElementTextarea,
            'number': formElementNumber,
            'date': formElementDate,
            'button': formElementButton,
            'file': formElementFile,
            'html': formElementHtml,
            'autocomplete': formElementAutocomplete,
            'section': formElementSection,
            'columnized-list': formElementColumnizedList,
        }
    }
  },
  props: ['element_json'],
  computed: {
    form_component: function(){
        if(_.isUndefined(this.element_json.attributes.type.value)){
            return undefined;
        }
        return this.form_types[this.element_json.attributes.type.value];
    },
    component_exists: function(){
        return !_.isUndefined(this.form_component);
    }
  },
  methods: {
    propagateElementJson: function(obj){
        //need to sanitize this sucker 
        obj = this.sanitizeAttributes(obj);
        this.$emit('element_json', obj);
    },
    ucFirst(variable){
        return _.upperFirst(variable);
    },
    sanitizeAttributes(obj){
        //kebab case id, snake case name        
        obj.attributes.id.value = _.kebabCase(obj.attributes.id.value);
        obj.attributes.name.value = _.snakeCase(obj.attributes.name.value);
        return obj;
    }
  },
  mounted: function(){    
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3{
        margin: 0px;
        padding: 0px;
    }
    div.select{
        border: 1px #eee solid;
        padding: 10px;
        width: 50%;
    }
</style>
