<template>
    <div>
        <div class="form-grouping" v-bind:class="{'show-drag-outline': form_list.length < 1}" >
            <draggable element="div" v-model="form_list" :options="dragOptionsTarget" :move="onMove">
                <transition-group name="no" class="list-group" tag="ul">
                    <li class="list-group-item" v-for="(element, index) in form_list" :key="element.id">
                        <div class="element-controls">
                            <i class="fa fa-arrows drag"></i>
                            <i class="fa fa-copy" @click="duplicateElement(element)"></i>
                            <i class="fa fa-trash" @click="removeElement(index)" aria-hidden="true"></i>
                            <i :class="element.edit ? 'fa fa-caret-down' : 'fa fa-caret-up'" @click="toggleEdit(element)" aria-hidden="true"></i>
                        </div>
                        <span class="form-type"><i :class="getIcon(element.name)"></i> {{ucFirst(element.name)}}</span>
                        <formElementEditor  :element_json="element" v-on:element_json="addElementJson" :key="element.id"></formElementEditor>
                    </li>
                </transition-group>
            </draggable>
        </div>
    </div>
</template>

<script>
import formElementEditor from './FormElementEditor'
import draggable from 'vuedraggable'
import shared from './mixins/Shared.vue'
export default {
    name: 'formGroup',
    mixins: [shared],
    components: {
            formElementEditor,
            draggable,
    },
    props: ['value'],
    
    data() {
        return {

        }
    },
    computed: {
        dragOptionsTarget() {
            return {
                animation: 0,
                group: { name: 'people' },
                disabled: !this.editable,
                ghostClass: 'ghost',
                handle: '.fa-arrows.drag'
            };
        },
    }, 
    methods: {
        onMove({ relatedContext, draggedContext }) {
            const relatedElement = relatedContext.element;
            const draggedElement = draggedContext.element;
            return (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
        },
    },
    watch:{
        form_list: {
            handler(new_val) {
                this.$emit('input', new_val);
            },
            deep: true
        },
        value: {
            handler(new_val){
                this.form_list = new_val;
            },
            deep: true
        }
        
    }
}
</script>
<style>

.form-grouping {
  border: 1px #eee solid;
  /*min-height: 100%;*/
}

.form-grouping.show-drag-outline {
  background-color: rgba(200, 200, 200, 0.1);
  background-image: url('../assets/drag-drop.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
}

.form-grouping>div>ul.list-group {
  min-height: 20%;
}

.form-grouping.show-drag-outline>div>ul.list-group {
  min-height: 200px;
}


.list-group {
  /*  min-height: 100%;*/
  text-align: left;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}

.list-group-item {
  min-height: 40px;
}

.list-group-item span.form-type {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #ccc;
}

.list-group-item .element-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

</style>