<template>
    <div>
        <h5 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Attributes:</span>
        </h5>
        <ul class="list-group mb-3 d-flex flex-row flex-wrap">
            <li v-for="(attribute, index) in attributes" class="list-group-item col-sm-4 text-left" v-show ="attribute.type != 'hidden'">
                <template v-if="attribute.type == 'input'">
                    <div class="form-group">
                        <label v-bind:for="rand_id + '-' + attribute.name" class="">{{attribute.name}}</label>
                        <div class="">
                           <input type="text" class="form-control" v-model="attribute.value" v-bind:id="rand_id + '-' + attribute.name" placeholder="" required="">
                            <small class="text-muted">{{attribute.description}}</small>
                            <div class="invalid-feedback">
                                {{attribute.invalid_message}}
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else-if="attribute.type == 'checkbox'">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="" v-model="attribute.value" v-bind:id="rand_id + '-' + attribute.name" >
                        <label class="" v-bind:for="rand_id + '-' + attribute.name">{{attribute.name}} </label>
                        <br/>
                        <small class="text-muted">{{attribute.description}}</small>
                    </div>
                </template>
                <template v-else-if="attribute.type == 'select'">
                    <div class="form-group">
                        <label>{{attribute.name}} </label>
                        <select class="custom-select d-block w-100" v-model="attribute.value">
                            <option v-for="v in attribute.options" v-bind:value="v">{{v}}</option>
                        </select>
                        <small class="text-muted">{{attribute.description}}</small>
                    </div>
                </template>
                <template v-if="attribute.type == 'date'">
                    <div class="form-group">
                        <label v-bind:for="rand_id + '-' + attribute.name" class="">{{attribute.name}}</label>
                        <div class="">
                           <input type="date" class="form-control" v-model="attribute.value" v-bind:id="rand_id + '-' + attribute.name" placeholder="" required="">
                            <small class="text-muted">{{attribute.description}}</small>
                        </div>
                    </div>
                </template>
                <template v-if="attribute.type == 'number'">
                    <div class="form-group">
                        <label v-bind:for="rand_id + '-' + attribute.name" class="">{{attribute.name}}</label>
                        <div class="">
                           <input type="number" class="form-control" v-model="attribute.value" v-bind:id="rand_id + '-' + attribute.name" placeholder="" required="">
                            <small class="text-muted">{{attribute.description}}</small>
                        </div>
                    </div>
                </template>
                <template v-else-if="attribute.type == 'buttons'">
                    <label>{{attribute.name}} </label>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="attributes.style.value = 'btn-primary'">Primary</button>
                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click="attributes.style.value = 'btn-outline-primary'">Primary</button><br>
                        <button type="button" class="btn btn-secondary btn-sm" v-on:click="attributes.style.value = 'btn-secondary'">Secondary</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="attributes.style.value = 'btn-outline-secondary'">Secondary</button><br>
                        <button type="button" class="btn btn-success btn-sm" v-on:click="attributes.style.value = 'btn-success'">Success</button>
                        <button type="button" class="btn btn-outline-success btn-sm" v-on:click="attributes.style.value = 'btn-outline-success'">Success</button><br>
                        <button type="button" class="btn btn-danger btn-sm" v-on:click="attributes.style.value = 'btn-danger'">Danger</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" v-on:click="attributes.style.value = 'btn-outline-danger'">Danger</button><br>
                        <button type="button" class="btn btn-warning btn-sm" v-on:click="attributes.style.value = 'btn-warning'">Warning</button>
                        <button type="button" class="btn btn-outline-warning btn-sm" v-on:click="attributes.style.value = 'btn-outline-warning'">Warning</button><br>
                        <button type="button" class="btn btn-info btn-sm" v-on:click="attributes.style.value = 'btn-info'">Info</button>
                        <button type="button" class="btn btn-outline-info btn-sm" v-on:click="attributes.style.value = 'btn-outline-info'">Info</button><br>
                        <button type="button" class="btn btn-dark btn-sm" v-on:click="attributes.style.value = 'btn-dark'">Dark</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" v-on:click="attributes.style.value = 'btn-outline-dark'">Dark</button><br>
                        <button type="button" class="btn btn-light btn-sm" v-on:click="attributes.style.value = 'btn-light'">Light</button>
                        <button type="button" class="btn btn-link btn-sm" v-on:click="attributes.style.value = 'btn-link'">Link</button>
                    </div>
                </template>                
            </li>
        </ul>
    </div>
</template>

<script type="text/javascript">
export default {
    name: 'FormElementAttributes',
    data() {
        return { 
            rand_id: this.makeId(9), //used as a prefix so we don't get ID collisions when configuring a form with duplicate types
        }
    },
    props: ['input_attributes'],
    computed: {
        attributes: {
            get: function(){
                return this.input_attributes;
            },
            set: function(new_val){
                this.$emit('attributes', new_val);
            }
        }
    },
    methods:{   
        makeId: function(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }     
    },
    watch: {
    },
    mounted: function(){
    }
}    
</script>