<template>
    <div class="container">         
        <div class="row justify-content-center mt-4">
            <div class="col-md-12 text-left alert " role="alert">
                <label class="">{{label ? label : 'Label'}}</label>        
            </div>
            <div class="col-md-12">
                <div class="table-responsive columnized-list-container">
                    <table class="table table-striped table-bordered ">
                        <thead class="thead-light">
                            <tr>
                                <th class="col columnized-list-header" v-for="column in columns">
                                    <label> {{column.label}}</label>
                                    <div>
                                        <small class="text-muted"> {{column.description}} </small>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="num in attributes.num_rows_start.value">
                                <td scope="row" class="col-xs columnized-list-input" v-for="column in columns">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder=""> </textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>                    
                            <button class="btn btn-sm btn-primary mt-2"><i class="fa fa-plus mr-2"></i> Add another </button>                    
                        </tfoot>
                    </table>
                </div>        
            </div>
        </div>
        
               
        <!-- END ROW -->
        
        <div v-show="element_json.edit">   
            <hr/>
            <div class="row mb-1 mt-5">
                <div class="col-md-12 mb-5">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" value="" required>
                </div>
                <div class="col-sm-12">
                   <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Columns:</span>
                    </h5>
                    <div class="alert alert-warning" role="alert" v-if="columns.length < 1">
                        You don't have any columns yet, please add some!
                    </div>                        
                    <div class="option" v-for="(column, index) in columns">
                        <div class="input-group mb-3">
                             <div class="option-controls">
                                <i class="fa fa-trash" @click="removeColumn(index)" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Field Label" aria-label="Label" v-model="column.label">
                            <input type="text" class="form-control" placeholder="Field Name" aria-label="Name" v-model="column.name">
                            <input type="text" class="form-control" placeholder="First Row Example Value" aria-label="example" v-model="column.example">                            
                            <textarea class="form-control mt-2" v-model="column.description" style="width: 100%" placeholder="Description"></textarea>
                            
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-primary btn-sm" @click="addNewColumn">Add Option<i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div><!-- END ROW -->
            <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>
            <!-- END ROW -->          
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementColumnizedList',
    data() {
        return {
            columns: [],
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },                
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },   
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },  
                "num_rows_start":{
                    name: "num_rows_start",
                    type: "input",
                    description: "Number of rows the list should start with",
                    invalid_message: null,
                    value: 3
                },
                "add_rows_button":{
                    name: "add_rows_button",
                    type: "checkbox",
                    description: "Show button that adds another row when clicked",
                    invalid_message: null,
                    value: false
                },              
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'columnized-list'
                }
            },
            label: null,
        }
    },
    methods: {
        initElement(){
            this.attributes = this.mergeAttributes();
            this.label = this.element_json.label;
            this.options = _.isUndefined(this.element_json.options) ? [] : this.element_json.options;
            this.columns = _.isUndefined(this.element_json.columns) ? [] : this.element_json.columns;
        },
        addNewColumn (){
            this.columns.push({});
        },
        removeColumn (index){
            var columns = _.xor(this.columns, [this.columns[index]]);
            this.columns = columns;
        },
        emitElement: function(){ 
            var omit_keys = ['description', 'type'];
            this.$emit('element_json', {
                options: this.options,
                columns: this.columns,
                label: this.label,
                id: this.element_json.id,
                attributes: _.mapValues(this.attributes, function(attribute, key){
                    var test =  _.omit(attribute, omit_keys)
                    return test;
                })
            });
        }
    },
    watch: {
        columns: {
            handler(new_val) {
                  this.emitElement();  
            },
            deep: true
        }        
    }
}
</script>

<style lang="less">

.columnized-list-container{
    .columnized-list-header-row{
        .columnized-list-header{
            border: 1px rgba(200,200,200, .4) solid;
            padding: 4px;
        }
    }
}

</style>
