<template>
<div class="wrapper">
        <nav id="sidebar" v-show="show_json_inspector">
            <div class="row">
                <div class="col-md-12">
                    <json-viewer style="width: 100%; text-align:left" :value="form_list" :expand-depth=5 boxed></json-viewer>
                </div>
            </div>
            <div class="row col-md-12">
                <div id="json-form" class='padded mx-auto' data-toggle="popover" data-content="Copied to clipboard" >
                    <textarea style="white-space: pre-wrap; text-align: left" v-model="listString">{{listString}}</textarea>
                </div>
                <button type="button" class="btn btn-sm btn-danger mx-auto mt-2" @click="removeAllElements()" v-bind:disabled="form_list.length == 0">Clear</button>
            </div>

        </nav>

         <div id="content">   
        <div class="text-left ml-2 mt-2">
            <button type="button" id="sidebarCollapse" class="navbar-btn" v-show="show_json_inspector">
                <span></span>
                <span></span>
                <span></span>
            </button> 
        </div>
                <div class="container">
                    <div v-if="show_u_branding">
                        <img class="float-left clearfix " src="../assets/u-engineering-logo.svg" alt="" width="300" height="auto">
                        <div class="clearfix"></div>
                    </div>
                    <div v-if="show_instructions" class="py-3 text-center">
                        <h2>Form Builder</h2>
                        <p class="lead">Drag and drop form elements from the element bank to the form. Once you've added an element to the form, configure it how you'd like it.</p>
                    </div>
                    <div class="row">
                        <div id="elements" class="col-md-3">
                            <div class="sticky-top">
                                <h4> Element Bank </h4>
                                <draggable class="list-group" element="ul" v-model="list" :options="dragOptionsSource" :clone="clone" :move="onMove" @start="isDragging=true" @end="isDragging=false">
                                    <transition-group type="transition" :name="'flip-list'">
                                        <li class="list-group-item" v-for="element in list" :key="element.id">
                                            <i :class="getIcon(element.name)"></i>
                                            {{ucFirst(element.name)}}
                                        </li>
                                    </transition-group>
                                </draggable>
                            </div>
                        </div>
                        <div id="form-container" class="col-md-9" >
                            <h4> Your Form </h4>
                            <formGroup v-model="form_list"></formGroup>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
</template>
<script>
    global.jQuery = require('jquery');
    var $ = global.jQuery;
    window.$ = $;

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });

import draggable from 'vuedraggable'

const message = [ 'header', 'paragraph', 'input', 'radio', 'checkbox', 'select', 'wysiwyg', 'tinymce', 'textarea', 'autocomplete', 'number', 'date', 'button', 'file', 'image', 'html' ]

var default_settings = {    
    element_whitelist: null,
};

import formGroup from './FormGroup'
import shared from './mixins/Shared'
import JsonViewer from 'vue-json-viewer'

export default {
  name: 'form-builder',
  mixins: [shared],
  components: {
    draggable,
    JsonViewer
  },
  data() {
    var merged_settings = {};
    Object.assign(merged_settings, default_settings, this.settings);    
    return {     
      isDragging: false,
      delayedDragging: false,
      merged_settings: merged_settings,
    }
  },
  props: {
    form_json:{
        default: null
    },
    show_instructions: {
      default: true
    },
    show_u_branding: {
      default: false
    },
    show_json_inspector: {
        default: false
    },
    settings: {
        type: Object, 
        default: () => {}
    },
  },
  methods: {
    clone(el) {
      var clone = Object.assign({}, el);
      clone.id = _.uniqueId('id-');
      clone["attributes"] = {type: {name: "type", value: clone.name}};
      return clone;
    },
    orderList() {
      this.list = this.list.sort((one, two) => { return one.order - two.order; })
    },

    getElementTextById(id) {
      return !_.isUndefined(this.form_list[id]) ? this.form_list[id].label : 'Label';
    },

    removeAllElements() {
      this.form_list = [];      
    },
    
    initElementList(){
        if(!_.isNull(this.merged_settings.element_whitelist)){
            this.list = _.filter(this.list, (element) => {
                return _.includes(this.merged_settings.element_whitelist, element.name);
            });
        }
    },    
    initForm() {
        if(_.isNull(this.form_json)){
            return;
        }
        else{
            var cloned_form = _.cloneDeep(this.form_json);
            var form_list = _.map(cloned_form, function(element, index) {
                element.edit = false;
                element.id = _.uniqueId('id-');
                return element;
            });
            this.form_list = form_list;
        }
    }
  },
  computed: {
    
    dragOptionsSource() {
      return {
        animation: 0,
        group: { name: 'people', pull: 'clone', put: false },
        disabled: !this.editable,
        ghostClass: 'ghost'
      };
    },
    dragOptionsTarget: function() {
      return {
        animation: 0,
        group: { name: 'people' },
        disabled: !this.editable,
        ghostClass: 'ghost',
        handle: '.fa-arrows.drag'
      };
    },
    listString: {
        get: function(){
            var pick = ['id', 'attributes', 'label', 'options', 'columns', 'form_list'];
            var sanitized_form_list = _.map(this.form_list, function(element){
                return _.pick(element, pick);
            });
            return JSON.stringify(sanitized_form_list);    
        },
        set: function(input){            
            var form = JSON.parse(input);            
            this.form_json = form;
        }
    }    
  },
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true
        return
      }
      this.$nextTick(() => {
        this.delayedDragging = false
      })
    },
    form_list: {
        handler(new_val) {
            this.$emit('form_list', new_val);
        },
        deep: true
    }
  },
  mounted: function() {
    $('#json-form').popover({
      placement: "right",
    });

    $('#json-form').on('shown.bs.popover', function() {
      setTimeout(function() {
        $('#json-form').popover('hide');
      }, 2000);
    });

    this.$nextTick(function() {
      this.initForm();
      this.initElementList();
    });
  }
}

</script>
<style>

#content{
    width: 100%;
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: .5;
  background: #C8EBFB;
}

.list-group {
  /*  min-height: 100%;*/
  text-align: left;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}

.list-group-item {
  min-height: 40px;
}

.list-group-item span.form-type {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #ccc;
}

.list-group-item .element-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

h4.element-title {
  display: inline-block;
  padding: 20px;
}

#json-form {
  background-color: #f5f5f5 !important;
  margin-top: 30px;
}

pre {
  overflow-y: scroll;
  margin: 1em 0px;
}

/* Style the Sliding Sidebar */

.padded {
  width: 100%;
  display: block;
  padding: 0 .75rem;
}

 #sidebarCollapse {
    width: 30px;
    height: 30px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    overflow: hidden;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    border: 1px #eee solid;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
    margin-right: 20px;
}

#sidebar.active {
    margin-left: -350px;    
    margin-right: 0px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
</style>
