<template>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 text-left form-inline row d-flex flex-row flex-wrap alert bg-info text-light" role="alert">
                <label class="form-label" for="attributes.id.value">{{label ? label : 'Label'}}</label>
                <div class="col-sm-6">
                    <input 
                        v-bind:type="attributes.type.value" 
                        v-bind:class="[{isNotFile: 'form-control'}, attributes.class.value]" 
                        v-bind:id="attributes.id.value" 
                        v-bind:name="attributes.name.value" 
                        v-bind:value="attributes.value.value" 
                        v-bind:placeholder="attributes.placeholder.value">
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row">
                <div class="col-md-12 mb-3 text-left">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Label:</span>
                    </h5>
                    <input type="text" class="form-control" v-model="label" placeholder="" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>                    
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import formElementAttributes from './FormElementAttributes';

const unique_prefix = "sysgen";

export default {
    name: 'FormElementBase',
    components: {
        formElementAttributes
    },
    data() {
        return {
            label: null,
            options: [],
            rand_id: this.makeId(9), //used as a prefix so we don't get ID collisions when configuring a form with duplicate types
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: null
                },                
                "value": {
                    name: "value",
                    type: "hidden",
                    description: "Default Value for this element.",
                    invalid_message: null,
                    value: null
                },
                "required": {
                    name: "required",
                    type: "checkbox",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "checkbox",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'html'
                }
            }
        }
    },
    props: ['element_json'],
    computed: {
        isNotFile: function(){
            return this.attributes.type.value != "file";
        },
    },
    methods:{
        initElement(){
            this.attributes = this.mergeAttributes();
            this.label = this.element_json.label;
            this.options = _.isUndefined(this.element_json.options) ? [] : this.element_json.options;
        },
        setAttributes(attributes){            
            this.attributes = attributes;
        },
        addNewOption (){
            this.options.push({});
        },
        removeOption (index){
            var options = _.xor(this.options, [this.options[index]]);
            this.options = options;
        },
        mergeAttributes: function(){

            var blacklist = ['type']; //let the element figure this one out. for consistency purposes

            return _.mapValues(this.attributes, function(attribute,key){
                if(!_.isUndefined(this.element_json.attributes) && !_.isUndefined(this.element_json.attributes[key]) && !_.includes(blacklist, key)){
                    attribute.value = this.element_json.attributes[key].value
                }
                else attribute.value = attribute.value;
                return attribute;
            }.bind(this));  

        }, 
        emitElement: function(){ 
            var omit_keys = ['description', 'type'];
            this.$emit('element_json', {
                options: this.options,
                label: this.label,
                id: this.element_json.id,
                attributes: _.mapValues(this.attributes, function(attribute, key){
                    var test =  _.omit(attribute, omit_keys)
                    return test;
                })
            });
        },
        makeId: function(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
    },
    watch: {
        element_json: {
            handler(new_val, old_val){
                if (JSON.stringify(new_val) === JSON.stringify(old_val)) return;                
                this.initElement();                
            },
            deep: true
        },
        attributes: {
            handler(new_val) {
                //emit after the new val gets set.
                this.$nextTick(function(){
                    this.emitElement();    
                })                
            },
            deep: true
        },
        label: {
            handler(new_val) {
                  this.emitElement();  
            },
            deep: true
        },
        options: {
            handler(new_val) {
                  this.emitElement();  
            },
            deep: true
        },
    },
    mounted: function(){
        this.$nextTick(function(){
            this.initElement();
            if(_.isNull(this.attributes.id.value) || _.isEmpty(this.attributes.id.value)){
                this.$set(this.attributes.id, 'value', _.uniqueId('sysgen-'));
            }
            if(_.isNull(this.attributes.name.value) || _.isEmpty(this.attributes.name.value)){
                this.$set(this.attributes.name, 'value', _.snakeCase(this.attributes.id.value));
            }
            
            
        })
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3{
        margin: 0px;
        padding: 0px;
    }

    div.select{
        padding: 0px;
        width: 50%;
    }

    label{
        font-weight: bold;
    }

    .list-group-item i{
        position:relative;
        display:inline-block;
        top: initial;
        left: initial;
        right: initial;
        margin-left: 10px;
        bottom: initial;
    } 

    .option{
        position: relative;
    }

    .option .option-controls{
        position: absolute;
        top: 8px;
        right: -30px;
    }         
</style>
