<template>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-9 row d-flex flex-row flex-wrap alert bg-info text-light" role="alert">
                <p v-bind:class="attributes.class.value" v-bind:id="attributes.id.value" v-bind:name="attributes.name.value">{{attributes.value.value ? attributes.value.value : ''}}</p>
            </div>
        </div>
        <!-- END ROW -->
        <div v-show="element_json.edit">
            <hr />
            <div class="row">
                <div class="col-md-12 mb-3 text-left">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Text:</span>
                    </h5>
                    <textarea rows="3" class="form-control" v-model="attributes.value.value" placeholder="Enter text..." value=""></textarea>
                </div>
            </div><!-- END ROW -->
            <div class="row">
                <div class="col-md-12">
                    <formElementAttributes :input_attributes="attributes" v-on:attributes="setAttributes"></formElementAttributes>
                </div>
            </div>
            <!-- END ROW -->
        </div>
    </div>
</template>

<script>
import FormElementBase from './FormElementBase.vue';
export default {
    extends: FormElementBase,
    name: 'FormElementHeader',
    data() {
        return {
            attributes: {
                "id": {
                    name: "id",
                    type: "input",
                    description: "Add the id of this element.",
                    invalid_message: null,
                    value: null
                },
                "name": {
                    name: "name",
                    type: "input",
                    description: "Add the name of this element",
                    invalid_message: null,
                    value: null
                },                
                "class": {
                    name: "class",
                    type: "input",
                    description: "Add any classes this element should have. Seperate by a space",
                    invalid_message: null,
                    value: ''
                },                
                "value": {
                    name: "value",
                    type: "hidden",
                    description: "",
                    invalid_message: null,
                    value: ""
                },
                "required": {
                    name: "required",
                    type: "hidden",
                    description: "Check if this element is required to submit the form.",
                    invalid_message: null,
                    value: null
                },
                "hidden": {
                    name: "hidden",
                    type: "hidden",
                    description: "Check if this should be a hidden element.",
                    invalid_message: null,
                    value: null
                },
                "type": {
                    name: "type",
                    type: "hidden",
                    description: null,
                    invalid_message: null,
                    value: 'paragraph'
                }
            }
        }
    }
}
</script>

<style scoped>
    p {
        white-space: pre-wrap;
        margin-bottom: 0;
    }
</style>