<template>
  <div id="app">
    <div class="elements">
        <form-builder :form_json="form_json" v-on:form_json="updateFormJson" :show_json_inspector="true" > </form-builder>
    </div>   
  </div>
</template>

<script>
import FormBuilder from './components/FormBuilder'

export default {
  name: 'App',
  components: {
    FormBuilder
  },
   
    data:function(){
        return {
            message: '',
            element_whitelist: ['header', 'html', 'radio', 'select', 'checkbox'],
            form_json: [
  {
    "id": "37",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "sysgen-38"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "sysgen_38"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "<h3>Details</h3>"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "html"
      }
    },
    "options": []
  },
  {
    "id": "id-11",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "name"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "scholarship_name"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "placeholder": {
        "name": "placeholder",
        "invalid_message": null,
        "value": ""
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": true
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "text"
      }
    },
    "label": "Scholarship Name",
    "options": []
  },
  {
    "id": "id-13",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "description"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "scholarship_description"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "placeholder": {
        "name": "placeholder",
        "invalid_message": null,
        "value": ""
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": true
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "textarea"
      }
    },
    "label": "Scholarship Description",
    "options": []
  },
  {
    "id": "id-43",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "endowed"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "endowed"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Endowed Scholarship",
    "options": []
  },
  {
    "id": "id-15",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "award-amount"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "award_amount"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": "d-inline"
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "placeholder": {
        "name": "placeholder",
        "invalid_message": null,
        "value": ""
      },
      "min": {
        "name": "min",
        "invalid_message": null,
        "value": ""
      },
      "max": {
        "name": "max",
        "invalid_message": null,
        "value": ""
      },
      "step": {
        "name": "step",
        "invalid_message": null,
        "value": ""
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "number"
      }
    },
    "label": "Award Amount (in dollars)",
    "options": []
  },
  {
    "id": "id-41",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "quantity"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "quantity"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": "d-inline"
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "placeholder": {
        "name": "placeholder",
        "invalid_message": null,
        "value": ""
      },
      "min": {
        "name": "min",
        "invalid_message": null,
        "value": "1"
      },
      "max": {
        "name": "max",
        "invalid_message": null,
        "value": "1000"
      },
      "step": {
        "name": "step",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "number"
      }
    },
    "label": "Number of Awards",
    "options": []
  },
  {
    "id": "id-48",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "offer-annual"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "offer_annual"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": "d-inline"
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Offer Annual",
    "options": []
  },
  {
    "id": "id-19",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "department"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "department"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": true
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "select"
      }
    },
    "label": "Department",
    "options": [
      {
        "text": "Biomedical Engineering",
        "value": "BIO"
      },
      {
        "text": "Chemical Engineering",
        "value": "CHE"
      },
      {
        "text": "Civil & Environmental Engineering",
        "value": "CVEE"
      },
      {
        "text": "College of Engineering",
        "value": "COE"
      },
      {
        "text": "Electrical & Computer Engineering",
        "value": "ECE"
      },
      {
        "text": "Mechanical Engineering",
        "value": "ME"
      },
      {
        "text": "Materials Science & Engineering",
        "value": "MSE"
      },
      {
        "text": "School of Computing",
        "value": "SOC"
      }
    ]
  },
  {
    "id": "id-17",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "thank-you-recipient"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "thank_you_recipient"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "placeholder": {
        "name": "placeholder",
        "invalid_message": null,
        "value": ""
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "text"
      }
    },
    "label": "Thank You Recipient Name",
    "options": []
  },
  {
    "id": "id-23",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "sysgen-24"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "sysgen_24"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "<h3>Qualifications</h3>"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "html"
      }
    },
    "options": []
  },
  {
    "id": "id-25",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "freshmen"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "freshmen"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": false
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Freshmen",
    "options": []
  },
  {
    "id": "27",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "continuing"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "continuing"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Continuing",
    "options": []
  },
  {
    "id": "29",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "transfer"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "transfer"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Transfer",
    "options": []
  },
  {
    "id": "31",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "award-merit"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "award_merit"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Merit Based",
    "options": []
  },
  {
    "id": "33",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "award-need"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "award_need"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Need Based",
    "options": []
  },
  {
    "id": "35",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "award-diversity"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "award_diversity"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "1"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "multiple": {
        "name": "multiple",
        "invalid_message": null,
        "value": false
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "checked": {
        "name": "checked",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "checkbox"
      }
    },
    "label": "Diversity Based",
    "options": []
  },
  {
    "id": "39",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "sysgen-40"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "sysgen_40"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": "<h3>Additional</h3>"
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "html"
      }
    },
    "options": []
  },
  {
    "id": "id-10",
    "attributes": {
      "id": {
        "name": "id",
        "invalid_message": null,
        "value": "notes"
      },
      "name": {
        "name": "name",
        "invalid_message": null,
        "value": "notes"
      },
      "class": {
        "name": "class",
        "invalid_message": null,
        "value": null
      },
      "value": {
        "name": "value",
        "invalid_message": null,
        "value": null
      },
      "placeholder": {
        "name": "placeholder",
        "invalid_message": null,
        "value": ""
      },
      "required": {
        "name": "required",
        "invalid_message": null,
        "value": null
      },
      "hidden": {
        "name": "hidden",
        "invalid_message": null,
        "value": null
      },
      "type": {
        "name": "type",
        "invalid_message": null,
        "value": "textarea"
      }
    },
    "label": "Comments / Notes",
    "options": []
  }
],
        }
    },
    methods:{
        updateFormJson (form_json){
            this.form_json = form_json;
        }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

</style>
